.navbar{
	background-color: #fff;
	color:#000;
}
#uclass{
	color:#d51515;
}
.masthead{
background-color: #06d6a0;
}
.masthead-avatar{
	height: 350px;
	width: 150px;
}
#sourav{
	color:#003049;
}
#bro{
	color:#ffd166;
}
#roo{
	height: 40vh;
	
}
#butt{
	color:#fff;
	background-color:purple; 
}
#cooking{
	height: 40vh;	
}
#cont{
	height: 40vh;
}	
#Gaming{
	height: 40vh;
	
}
#dataentry{
	height: 40vh;
	
}
#blo{
	height: 40vh;
	
}
#colo{
	background-color: #17a2b8;
}
#cont{
	background-color: #45ada8;
}
#con{
	background-color: #ffba33;
}
#copy{
	background-color: #1a252f;
}
#roo:hover{
	color:transparent;
}
a{
	color:#fff;
}
a:hover {
	color:#fff;
	background-color: #1abc9c;
}
a:active{
	color:#fff;
	background-color: #1abc9c;
}